<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_DIRECTORY">G:/tomcat/apache-tomcat-9.0.41/logs/hospital</Property>
        <Property name="LOG_PATTERN">%d [%-5p] %-10.35c [%t] %m %ex%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="RollingLogTrace" fileName="${LOG_DIRECTORY}/hospitalTrace.log"
                     filePattern="${LOG_DIRECTORY}/hospitalTrace-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="RollingLogInfo" fileName="${LOG_DIRECTORY}/hospitalInfo.log"
                     filePattern="${LOG_DIRECTORY}/hospitalInfo-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="ua.com" level="TRACE" additivity="true">
            <AppenderRef ref="RollingLogInfo"/>
            <AppenderRef ref="RollingLogTrace"/>
        </Logger>

        <Root level="FATAL">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>